.consultation {
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__box {
        display: flex;
        align-items: center;
        color: black;
        color: white;
        max-width: 840px;
        padding: 45px 30px;
        flex-basis: 60%;
        justify-content: space-between;
        @media (max-width: $large) {
            flex-basis: 100%;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        &::before,
        &::after {
            content: '';
            border: 2px solid white;
            flex-grow: 1;
            margin: 0 48px;
        }
        h3 {
            font-weight: 700;
            color: white;
            font-size: 28px;
            padding-bottom: 20px;
        }
    }
    &__contact {
        a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            border: 1px solid;
            border-radius: 1px;
            padding: 18px 44px;
            background-image: linear-gradient(90deg, #e6232f, #f08136, #e6232f);
        }
    }
    &__text {
        p {
            font-size: 18px;
        }
    }
    &__price {
        p {
            font-size: 24px;
            font-weight: 700;
        }
    }
}