.footer {
    display: flex;
    justify-content: space-around;
    &__box {
        flex: 1;
        &:last-child {
            background-color: #f5f5f5;
        }
    }
    &__content {
        display: flex;
        margin: 70px;
    }
    &__list {
        columns: 2;
        list-style-type: none;
        margin-top: 48px;
        li {
            padding: 4px;
            font-size: 16px;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
        margin-top: 8px;
        a {
            color: black;
            font-weight: 700;
            padding-top: 15px;
            text-decoration: none;
        }
    }
    &__left {
        flex: 1;
    }
    &__copy {
        margin-top: 110px;
    }
    &__header {
        text-align: center;
        margin: 50px 0;
        h4 {
            font-size: 28px;
            font-weight: 600;
        }
    }
    &__ico {
        &::before {
            content: '';
            background-repeat: no-repeat;
            width: 25px;
            height: 14px;
            display: inline-block;
        }
        &--mail {
            &::before {
                background-image: url('./img/ico-mail.png');
                transform: translateY(3px);
            }
        }
        &--phone {
            &::before {
                background-image: url('./img/ico-phone.png');
            }
        }
    }
    &__form {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    &__main {
        margin-left: 95px;
        max-width: 80%;
    }
    &__label {
        &-box {
            align-self: center;
            font-size: 14px;
            flex-basis: 20%;
            display: flex;
            justify-content: flex-end;
        }
    }
    &__input {
        &-box {
            width: 70%;
        }
    }
    &__name {
        width: 100%;
        height: 50px;
        padding-left: 10px;
        font-size: 18px;
        &--text {
            height: 120px;
        }
    }
    &__button {
        display: flex;
        justify-content: flex-end;
    }
    &__btn {
        padding: 18px 35px;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        background-image: linear-gradient(90deg, #e6232f, #f08136, #e6232f);
    }
}