.footer {
    display: flex;
    justify-content: space-around;
    &__box {
        flex: 1;
        &:last-child {
            background-color: #f5f5f5;
        }
    }
    &__content {
        display: flex;
        margin: 70px;
    }
    &__list {
        columns: 2;
        list-style-type: none;
        margin-top: 48px;
        li {
            padding: 4px;
            font-size: 16px;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
        margin-top: 8px;
        a {
            color: black;
            font-weight: 700;
            padding-top: 15px;
        }
    }
    &__left {
        flex: 1;
    }
    &__copy {
        margin-top: 110px;
    }
    &__header {
        text-align: center;
        margin-top: 50px;
        h4 {
            font-size: 28px;
            font-weight: 600;
        }
    }
    &__form {
        margin: 30px;
    }
    &__ico {
        &::before {
            content: '';
            background-repeat: no-repeat;
            width: 25px;
            height: 14px;
            display: inline-block;
        }
        &--mail {
            &::before {
                background-image: url('./img/ico-mail.png');
                transform: translateY(3px);
            }
        }
        &--phone {
            &::before {
                background-image: url('./img/ico-phone.png');
            }
        }
    }
}