* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
}

@mixin xs {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin s {
    @media (max-width: 790px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 995px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 1320px) {
        @content;
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    @include lg {
        width: 990px;
    }
    @include md {
        width: 770px;
    }
    // @media (max-width: $large) {
    //     width: 950px;
    // }
    // @media (max-width: $medium) {
    //     width: 720px;
    // }
}