* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
}

.hide {
    display: none;
}

i.show {
    display: none;
}

.show {
    display: none;
}

@mixin xs {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin s {
    @media (max-width: 790px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 995px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 1320px) {
        @content;
    }
}

@mixin full {
    @media (min-width: 1320px) {
        @content;
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    &.full {
        max-width: 100%;
    }
    &.animated {
        transition: max-width 0.2s;
    }
    &.shadow {
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    }
    @include lg {
        max-width: 990px;
    }
    @include md {
        max-width: 770px;
    }
    @include s {
        max-width: 585px;
    }
}

.mobile {
    width: 100%;
    background-color: #e6252f;
    &.animation {
        transition: .3s linear;
    }
    &__list {
        list-style-type: none;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        transition: .2s;
    }
    &__menu {
        padding: 15px 30px;
        border-bottom: 1px solid white;
        &:last-child {
            border-bottom: none;
        }
    }
    &__text {
        color: white;
        font-size: 17px;
    }
}