.lightbox {
    background-color: #f5f5f5;
    .forWho {
        display: flex;
        background-color: white;
        transform: translateY(-150px);
        margin-bottom: -150px;
        &__header {
            flex: 1;
        }
        &__main {
            padding: 20px;
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #e6232f;
            h2 {
                font-size: 26px;
                font-weight: 700;
            }
        }
        &__box {
            text-align: center;
            flex: 1;
            padding: 40px 0;
            &:not(:last-child) {
                border-right: 1px solid #e6e6e6;
            }
            h4 {
                font-size: 18px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
            }
        }
        &__icon {
            &-box {
                padding-bottom: 28px;
                max-height: 88px;
                padding-top: 10px;
            }
        }
        &__title {
            padding-bottom: 26px;
        }
    }
    .specialization {
        &__header {
            &-top {
                padding: 65px 0;
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
        .specialize {
            display: flex;
            &__box {
                &-list {
                    border: 3px solid red;
                    flex-grow: 1;
                    margin-top: 18px;
                    margin-left: -29px;
                    margin-bottom: 18px;
                }
            }
            &__header {
                background-color: #f08136;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 100px 40px;
                h3 {
                    color: white;
                    font-weight: 600;
                    font-size: 23px;
                }
            }
            &__lists {
                columns: 3;
                list-style-type: none;
                margin: 30px 0;
                li {
                    padding: 10px;
                    text-align: center;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 23px;
                        height: 11px;
                        background-repeat: no-repeat;
                        background-image: url(./img/approve.png);
                    }
                }
            }
        }
    }
}