.lightbox {
    background-color: #f5f5f5;
    .forWho {
        display: flex;
        background-color: white;
        transform: translateY(-150px);
        margin-bottom: -150px;
        @media (max-width: $medium) {
            flex-wrap: wrap;
        }
        &__header {
            flex: 1;
            @media (max-width: $medium) {
                flex-basis: 100%;
            }
        }
        &__main {
            padding: 20px;
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #e6232f;
            h2 {
                font-size: 26px;
                font-weight: 700;
                @media(max-width: $large) {
                    font-size: 24px;
                }
            }
        }
        &__box {
            text-align: center;
            flex: 1;
            padding: 40px 0;
            @media (max-width: $large) {
                padding: 30px 20px;
            }
            &:not(:last-child) {
                border-right: 1px solid #e6e6e6;
            }
            h4 {
                font-size: 18px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
            }
        }
        &__icon {
            &-box {
                padding-bottom: 28px;
                max-height: 88px;
                padding-top: 10px;
                @media(max-width: $large) {
                    padding-top: 0;
                }
            }
        }
        &__title {
            padding-bottom: 26px;
            @media (max-width: $medium) {
                padding-bottom: 22px;
            }
        }
    }
    .specialization {
        &__header {
            &-top {
                padding: 60px 0;
                @media(max-width: $large) {
                    padding: 35px 0;
                }
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    text-align: center;
                    @media(max-width: $medium) {
                        font-size: 25px;
                    }
                }
            }
        }
        .specialize {
            display: flex;
            @media(max-width: $medium) {
                flex-wrap: wrap;
            }
            &__box {
                &-list {
                    border: 3px solid red;
                    flex-grow: 1;
                    margin-top: 18px;
                    margin-left: -29px;
                    margin-bottom: 18px;
                    @media(max-width: $large) {
                        margin-left: -17px;
                    }
                    @media(max-width: $medium) {
                        margin-top: 0px;
                        margin-left: 0px;
                        margin-bottom: 0px;
                    }
                }
            }
            &__header {
                background-color: #f08136;
                flex-basis: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                @media(max-width: $medium) {
                    flex-basis: 100%;
                    padding: 20px 0;
                }
                h3 {
                    color: white;
                    font-weight: 700;
                    font-size: 23px;
                }
            }
            &__lists {
                columns: 3;
                list-style-type: none;
                margin: 48px 0;
                @media (max-width: $large) {
                    margin: 36px 0;
                }
                li {
                    padding: 14px;
                    text-align: center;
                    font-size: 17px;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 23px;
                        height: 11px;
                        background-repeat: no-repeat;
                        background-image: url(./img/approve.png);
                    }
                }
            }
        }
    }
}