.header {
    &__content {
        margin-top: 90px;
        margin-bottom: 240px;
        color: white;
        h1 {
            margin-bottom: 30px;
            font-weight: 600;
        }
        p {
            font-size: 20px;
        }
    }
}