.header {
    &__content {
        margin-top: 90px;
        margin-bottom: 240px;
        color: white;
        h1 {
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 27px;
            @include xs {
                font-size: 21px;
            }
        }
        p {
            font-size: 24px;
            @include xs {
                font-size: 16px;
            }
        }
    }
}