.opinion {
    background-color: #f5f5f5;
    &__box {
        padding-bottom: 80px;
    }
    &__content {
        background-color: white;
        display: inline-block;
        padding: 94px 94px 35px 94px;
    }
    &__header {
        margin-bottom: 34px;
        h4 {
            color: #e6232f;
            font-size: 21px;
            font-weight: 600;
        }
        &-top {
            text-align: center;
            padding: 60px 0;
            h2 {
                font-size: 28px;
                font-weight: 700;
            }
        }
    }
    &__clients {
        span {
            font-size: 14px;
            font-weight: 600;
            &:first-child {
                color: #e6232f;
            }
            &:last-child {
                color: #f39964;
            }
        }
    }
    &__rewiew {
        max-width: 400px;
        margin-bottom: 55px;
        p {
            font-style: italic;
        }
    }
    &__image {
        transform: translateY(43px);
        margin-top: -43px;
    }
}