.tranings {
    border-bottom: 2px solid #efefef;
    &__item {
        &-row {
            &.hidden {
                visibility: hidden;
                max-height: 0;
                overflow: hidden;
                padding: 0;
                margin: 0;
            }
            &.transition {
                transition: max-height 0.2s, visibility 0.2s, padding 0.2s, margin 0.2s, max-height 0.2s;
                overflow: hidden;
            }
            // max-height: 400px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 3px solid #efefef;
            padding: 28px 0;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 45px;
            margin-bottom: 15px;
            position: relative;
            transition: 0.5s;
            &--active {
                display: none;
            }
            &::before {
                content: '';
                width: 17px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: linear-gradient(60deg, #f08136, #e6232f)
            }
        }
    }
    &__icon {
        min-height: 78px;
        @include lg {
            min-height: 55px;
            padding-left: 20px;
        }
        @include md {
            min-height: 40px;
            min-width: 20px;
            max-height: 24px;
        }
        &-box {
            @include xs {
                margin-bottom: 30px;
            }
        }
    }
    &__title {
        max-width: 329px;
        @include lg {
            max-width: 232px;
        }
        @include md {
            max-width: 100%;
            margin-bottom: 20px;
        }
        &-box {
            @include lg {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            @include md {
                flex-basis: 85%;
            }
        }
    }
    &__text {
        display: inline-block;
        font-size: 16px;
        color: #262626;
        margin-bottom: 0;
        transform: translateY(6px);
        @include lg {
            margin-bottom: 4px;
        }
    }
    &__certBox {
        margin: 0 10px;
    }
    &__cert {
        border: 1px solid #e6232f;
        padding: 7px 17px;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        color: #e6232f;
        @include lg {
            margin: 7px 0;
        }
        @include xs {
            padding: 5px 14px;
        }
    }
    &__split {
        display: flex;
    }
    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-top: 9px;
        @include lg {
            margin-top: 7;
        }
    }
    &__info {
        columns: 2;
        list-style-type: none;
        margin: 0;
        @include s {
            margin-left: 20px;
        }
        @include xs {
            margin-bottom: 30px;
            columns: 1;
            flex-basis: 100%;
            margin-left: 40px;
        }
        li {
            padding: 5px;
            font-size: 16px;
            &::before {
                content: '';
                display: inline-block;
                width: 23px;
                height: 11px;
                background-repeat: no-repeat;
                background-image: url('./img/approve.png');
            }
        }
    }
    &__price {
        color: #7caf74;
        font-weight: 600;
        font-size: 23px;
        margin-bottom: 0;
    }
    &__bottom {
        button {
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            padding: 15px 40px;
            border: none;
            background-image: linear-gradient(0deg, #f08136, #e6232f);
            @include lg {
                padding: 15px 30px;
            }
            @include s {
                padding: 13px 22px;
            }
        }
    }
    &__btn {
        text-align: center;
        margin-top: 35px;
        button {
            position: relative;
            margin-bottom: 35px;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            color: white;
            padding: 20px 35px;
            border: none;
            transition: transform .2s;
            cursor: pointer;
            background-image: linear-gradient(0deg, #f08136, #e6232f);
            @include md {
                padding: 15px 25px;
                font-size: 15px;
            }
            @include xs {
                padding: 11px 19px;
                font-size: 14px;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 10px;
                height: 1px;
                z-index: -1;
                transition: transform .2s;
            }
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}

.trainer {
    &__header {
        &-top {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            @include lg {
                margin-top: 35px;
                margin-bottom: 35px;
            }
            h2 {
                font-size: 28px;
                font-weight: 600;
            }
        }
    }
    &__name {
        h3 {
            font-size: 24px;
            font-weight: 700;
            @include md {
                font-size: 23px;
            }
        }
    }
    &__content {
        p {
            font-size: 18px;
            @include md {
                font-size: 17px;
            }
        }
    }
    &__box {
        display: flex;
        margin-bottom: 30px;
        @include s {
            flex-wrap: wrap;
        }
        &--row {
            flex-direction: row-reverse;
        }
    }
    &__photo {
        &-top {
            display: inline-block;
            vertical-align: top;
            @include s {
                flex-basis: 100%;
                min-height: 100%;
                max-height: 100%;
            }
            img {
                max-height: 450px;
                min-height: 450px;
                @include lg {
                    max-height: 316px;
                    min-height: 316px;
                }
                @include md {
                    width: 100%;
                    min-height: 100%;
                }
                @include s {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &__descr {
        border: 5px solid #e6232f;
        margin-left: -80px;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 50%;
        @include lg {
            margin-left: 0;
            padding-bottom: 20px;
        }
        @include s {
            max-width: 100%;
        }
        &:last-child {
            margin-right: -80px;
            margin-top: 30px;
            margin-bottom: 30px;
            @include lg {
                margin-right: 0px;
                margin-top: 19px;
                margin-bottom: 19px;
            }
            @include s {
                margin-top: 0;
            }
        }
    }
    &__main {
        padding-left: 130px;
        padding-top: 55px;
        padding-bottom: 40px;
        @include lg {
            padding-left: 25px;
            padding-top: 20px;
            padding-bottom: 0;
        }
        &--bottom {
            padding-left: 50px;
            @include lg {
                padding-left: 25px;
            }
        }
    }
    &__specialization {
        p {
            max-width: 85%;
        }
    }
    &__social {
        &-media {
            padding-bottom: 30px;
            @include lg {
                padding-bottom: 0;
                margin: 5px 0;
            }
        }
    }
}

.mission {
    &__box {
        &-top {
            display: flex;
            flex-wrap: wrap;
            @include s {
                flex-wrap: wrap;
            }
        }
    }
    &__square {
        margin: 25px;
        flex-basis: 29%;
        @include lg {
            flex-basis: 26%;
        }
        @include s {
            flex-basis: 40%;
        }
        @include xs {
            flex-basis: 100%;
        }
    }
    &__icon {
        margin-bottom: 30px;
        @include lg {
            margin-bottom: 22px;
        }
    }
    &__text {
        margin-bottom: 35px;
        @include lg {
            margin-bottom: 22px;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }
    &__desc {
        font-size: 14px;
    }
}