.tranings {
    border-bottom: 2px solid #efefef;
    &__item {
        &-row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 4px solid #efefef;
            padding: 28px 0;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 45px;
            margin-bottom: 15px;
            &--active {
                display: none;
            }
        }
    }
    &__icon {
        min-height: 78px;
    }
    &__title {
        &-box {}
    }
    &__text {
        display: inline-block;
        font-size: 16px;
        color: #262626;
        margin-bottom: 0;
    }
    &__cert {
        border: 1px solid #e6232f;
        padding: 9px 17px;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        margin-left: 5px;
        color: #e6232f;
    }
    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-top: 14px;
    }
    &__info {
        columns: 2;
        list-style-type: none;
        margin: 0;
        li {
            padding: 5px;
            font-size: 16px;
            &::before {
                content: '';
                display: inline-block;
                width: 23px;
                height: 11px;
                background-repeat: no-repeat;
                background-image: url('./img/approve.png');
            }
        }
    }
    &__price {
        color: #7caf74;
        font-weight: 600;
        font-size: 23px;
        margin-bottom: 0;
    }
    &__bottom {
        button {
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            padding: 15px 40px;
            border: none;
            background-image: linear-gradient(0deg, #f08136, #e6232f);
        }
    }
    &__more {
        text-align: center;
        margin-top: 35px;
        button {
            margin-bottom: 35px;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            color: white;
            padding: 20px 35px;
            border: none;
            background-image: linear-gradient(0deg, #f08136, #e6232f);
        }
    }
}

.trainer {
    &__header {
        &-top {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            h2 {
                font-size: 28px;
                font-weight: 600;
            }
        }
    }
    &__box {
        display: flex;
        margin-bottom: 30px;
        &--row {
            flex-direction: row-reverse;
        }
    }
    &__photo {
        &-top {
            display: inline-block;
            vertical-align: top;
            img {
                max-height: 400px;
            }
        }
    }
    &__descr {
        border: 1px solid red;
    }
}

.text-center {
    text-align: center;
}

.mission {
    &__box {
        &-top {
            display: flex;
        }
    }
    &__square {
        margin: 25px;
        flex: 1;
    }
    &__icon {
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 35px;
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }
    &__desc {
        font-size: 14px;
    }
}