.tranings {
    border-bottom: 2px solid #efefef;
    &__item {
        &-row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 3px solid #efefef;
            padding: 28px 0;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 45px;
            margin-bottom: 15px;
            position: relative;
            &--active {
                display: none;
            }
            &::before {
                content: '';
                width: 17px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: linear-gradient(60deg, #f08136, #e6232f)
            }
        }
    }
    &__icon {
        min-height: 78px;
        @media (max-width: $large) {
            min-height: 55px;
            padding-left: 20px;
        }
    }
    &__title {
        &-box {
            @media (max-width: $large) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    &__text {
        display: inline-block;
        font-size: 16px;
        color: #262626;
        margin-bottom: 0;
        transform: translateY(6px);
        @media (max-width: $large) {
            margin-bottom: 4px;
        }
    }
    &__cert {
        border: 1px solid #e6232f;
        padding: 7px 17px;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        margin-left: 5px;
        color: #e6232f;
        @media (max-width: $large) {
            margin: 7px 0;
        }
    }
    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-top: 9px;
        @media (max-width: $large) {
            margin-top: 0;
        }
    }
    &__info {
        columns: 2;
        list-style-type: none;
        margin: 0;
        li {
            padding: 5px;
            font-size: 16px;
            &::before {
                content: '';
                display: inline-block;
                width: 23px;
                height: 11px;
                background-repeat: no-repeat;
                background-image: url('./img/approve.png');
            }
        }
    }
    &__price {
        color: #7caf74;
        font-weight: 600;
        font-size: 23px;
        margin-bottom: 0;
    }
    &__bottom {
        button {
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            padding: 15px 40px;
            border: none;
            background-image: linear-gradient(0deg, #f08136, #e6232f);
            @media (max-width: $large) {
                padding: 15px 30px;
            }
        }
    }
    &__more {
        text-align: center;
        margin-top: 35px;
        button {
            margin-bottom: 35px;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            color: white;
            padding: 20px 35px;
            border: none;
            background-image: linear-gradient(0deg, #f08136, #e6232f);
        }
    }
}

.trainer {
    &__header {
        &-top {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            @media (max-width: $large) {
                margin-top: 35px;
                margin-bottom: 35px;
            }
            h2 {
                font-size: 28px;
                font-weight: 600;
            }
        }
    }
    &__name {
        h3 {
            font-size: 24px;
            font-weight: 700;
        }
    }
    &__content {
        p {
            font-size: 18px;
        }
    }
    &__box {
        display: flex;
        margin-bottom: 30px;
        &--row {
            flex-direction: row-reverse;
        }
    }
    &__photo {
        &-top {
            display: inline-block;
            vertical-align: top;
            img {
                max-height: 450px;
                min-height: 450px;
                @media (max-width: $large) {
                    max-height: 316px;
                    min-height: 316px;
                }
            }
        }
    }
    &__descr {
        border: 5px solid #e6232f;
        margin-left: -80px;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 50%;
        @media (max-width: $large) {
            margin-left: 0;
        }
        &:last-child {
            margin-right: -80px;
            margin-top: 30px;
            margin-bottom: 30px;
            @media (max-width: $large) {
                margin-right: 0px;
                margin-top: 19px;
                margin-bottom: 19px;
            }
        }
    }
    &__main {
        padding-left: 130px;
        padding-top: 55px;
        padding-bottom: 40px;
        @media (max-width: $large) {
            padding-left: 25px;
            padding-top: 20px;
            padding-bottom: 0;
        }
        &--bottom {
            padding-left: 50px;
            @media (max-width: $large) {
                padding-left: 25px;
            }
        }
    }
    &__specialization {
        p {
            max-width: 85%;
        }
    }
    &__social {
        &-media {
            padding-bottom: 30px;
            @media (max-width: $large) {
                padding-bottom: 0;
                margin: 5px 0;
            }
        }
    }
}

.text-center {
    text-align: center;
}

.mission {
    &__box {
        &-top {
            display: flex;
        }
    }
    &__square {
        margin: 25px;
        flex: 1;
    }
    &__icon {
        margin-bottom: 30px;
        @media (max-width: $large) {
            margin-bottom: 22px;
        }
    }
    &__text {
        margin-bottom: 35px;
        @media (max-width: $large) {
            margin-bottom: 22px;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }
    &__desc {
        font-size: 14px;
    }
}