body {
  background-image: url("./img/back-img.png");
  background-repeat: no-repeat;
  font-family: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
}

.headbar__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
}

.headbar__social-media {
  margin-top: 20px;
}
