body {
  background-image: url("./img/back-img.png");
  background-repeat: no-repeat;
  font-family: 'Noto Sans', sans-serif;
  background-size: 1700px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__content {
  margin-top: 90px;
  margin-bottom: 92px;
  color: white;
}

.header__content h1 {
  margin-bottom: 30px;
  font-weight: 600;
}

.header__content p {
  font-size: 20px;
}

.lightbox {
  background-color: #f5f5f5;
}

.lightbox .forWho__main {
  padding: 20px;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e6232f;
}

.lightbox .forWho__main h2 {
  font-size: 26px;
}

.lightbox .forWho__box {
  text-align: center;
  padding: 20px;
}

.lightbox .forWho__box h4 {
  font-size: 18px;
  font-weight: 600;
}

.lightbox .forWho__box p {
  font-size: 14px;
}

.lightbox .forWho__icon-box {
  padding-bottom: 28px;
}

.lightbox .forWho__title {
  padding-bottom: 45px;
}

.lightbox .specialize__header-top {
  padding: 65px 0;
}

.lightbox .specialize__header-top h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.lightbox .specialize__box-list {
  border: 2px solid red;
}

.lightbox .specialize__header {
  background-color: #f08136;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.lightbox .specialize__header h3 {
  color: white;
  font-weight: 600;
  font-size: 23px;
}

.lightbox .specialize__lists {
  columns: 3;
  list-style-type: none;
  margin: 20px 0;
}

.lightbox .specialize__lists li {
  padding: 10px;
  text-align: center;
}

.tranings__item-row {
  display: flex;
}

.headbar__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid;
  background-color: white;
}

.headbar__contact {
  text-align: center;
  align-self: center;
}

.headbar__link {
  font-size: 12px;
}

.headbar__link::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 14px;
  background-repeat: no-repeat;
  transform: translateY(4px);
}

.headbar__link--email {
  margin: 30px;
}

.headbar__link--email::before {
  background-image: url("./img/ico-mail.png");
}

.headbar__link--phone::before {
  background-image: url("./img/ico-phone.png");
}

.headbar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
}

.headbar__right {
  display: flex;
}

.headbar .list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.headbar .list__menu {
  list-style-type: none;
  padding-right: 15px;
  flex: 1;
}

.headbar .list__text {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
}
