@import "body";
@import "global";

.headbar {
    height: 200px;
    .container {
        background-color: white;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}


