@import "body";
@import "global";
@import "main-header";
@import "light-box";
@import "white-box";
@import "opinion-box";
@import "partners-box";
@import "consultation-box";
@import "footer-box";
$font-small: 12px;
.hide {
    display: none;
    visibility: hidden;
}

// $main-color: 
// $default-font
// $special-font
// warto dodac do html font size-10px a pozniej modyfikowac ją za pomocą 2 rem czyli 20px
.headbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 500;
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid #efefef;
        background-color: white;
    }
    &__social {
        &-media {
            padding-left: 20px;
        }
        &-icon {}
    }
    &__contact {
        text-align: center;
        align-self: center;
        padding-right: 20px;
    }
    &__logo {
        padding-left: 20px;
        @include md {
            min-width: 170px;
        }
        &-img {
            @include md {
                width: 100%;
            }
        }
    }
    &__link {
        font-size: $font-small;
        &::before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 14px;
            background-repeat: no-repeat;
            transform: translateY(4px);
        }
        &--email {
            margin: 30px;
            &::before {
                background-image: url("./img/ico-mail.png");
            }
        }
        &--phone {
            &::before {
                background-image: url("./img/ico-phone.png");
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: white;
        @include md {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    &__right {
        display: flex;
        padding-right: 20px;
        ;
    }
    .list {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        @include md {
            padding-left: 30px;
        }
        &__menu {
            list-style-type: none;
            padding-right: 15px;
            flex: 1;
        }
        &__text {
            color: black;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            padding: 15px;
            @include md {
                padding: 0;
                font-size: 14px;
            }
        }
    }
}