@import "mixin";
@import "body";
@import "global";
@import "main-header";
@import "light-box";
@import "white-box";
@import "opinion-box";
@import "partners-box";
@import "consultation-box";
@import "footer-box";
$font-small: 12px;
.headbar {
    position: sticky;
    top: -44px;
    z-index: 500;
    @include xs {
        top: -50px;
<<<<<<< HEAD
=======
    }
    &__burger {
        font-size: 30px;
        transition: .3s;
        cursor: pointer;
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
        @include full {
            display: none;
        }
        @include s {
            display: block;
            margin-right: 20px;
        }
        i {
            &.off {
                display: none;
            }
        }
    }
    &__bucket {
        &-icon {
            @include s {
                align-self: center;
            }
        }
>>>>>>> master
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid #efefef;
        background-color: white;
    }
    &__social {
        &-media {
            padding-left: 20px;
            @include xs {
                display: flex;
            }
        }
        &-icon {}
    }
    &__contact {
        text-align: center;
        align-self: center;
        padding-right: 20px;
        @include xs {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__logo {
        padding-left: 20px;
        @include md {
            min-width: 170px;
        }
        &-img {
            @include md {
                width: 100%;
            }
        }
    }
    &__link {
        font-size: $font-small;
        &::before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 14px;
            background-repeat: no-repeat;
            transform: translateY(4px);
        }
        &--email {
            margin: 30px;
            @include xs {
                margin: 0 0 6px 0;
            }
            &::before {
                background-image: url("./img/ico-mail.png");
            }
        }
        &--phone {
            &::before {
                background-image: url("./img/ico-phone.png");
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: white;
        @include md {
            padding-top: 0;
            padding-bottom: 0;
        }
        @include s {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &__right {
        display: flex;
        padding-right: 20px;
        ;
    }
    nav {
        .list {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            @include md {
                padding-left: 30px;
            }
            @include s {
                display: none;
            }
            &__menu {
                list-style-type: none;
                padding-right: 15px;
                flex: 1;
            }
            &__text {
                color: black;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 600;
                padding: 15px;
                transition: transform 0.2s;
                cursor: pointer;
                @include md {
                    padding: 0;
                    font-size: 14px;
                }
            }
        }
    }
}