body {
  background-image: url("./img/back-img.png");
  background-repeat: no-repeat;
  font-family: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1320px) {
  .container {
    width: 990px;
  }
}

.header__content {
  margin-top: 90px;
  margin-bottom: 240px;
  color: white;
}

.header__content h1 {
  margin-bottom: 30px;
  font-weight: 600;
}

.header__content p {
  font-size: 20px;
}

.lightbox {
  background-color: #f5f5f5;
}

.lightbox .forWho {
  display: flex;
  background-color: white;
  transform: translateY(-150px);
  margin-bottom: -150px;
}

@media (max-width: 995px) {
  .lightbox .forWho {
    flex-wrap: wrap;
  }
}

.lightbox .forWho__header {
  flex: 1;
}

@media (max-width: 995px) {
  .lightbox .forWho__header {
    flex-basis: 100%;
  }
}

.lightbox .forWho__main {
  padding: 20px;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e6232f;
}

.lightbox .forWho__main h2 {
  font-size: 26px;
  font-weight: 700;
}

@media (max-width: 1320px) {
  .lightbox .forWho__main h2 {
    font-size: 24px;
  }
}

.lightbox .forWho__box {
  text-align: center;
  flex: 1;
  padding: 40px 0;
}

@media (max-width: 995px) {
  .lightbox .forWho__box {
    padding: 25px 17px;
  }
}

.lightbox .forWho__box:not(:last-child) {
  border-right: 1px solid #e6e6e6;
}

.lightbox .forWho__box h4 {
  font-size: 18px;
  font-weight: 600;
}

.lightbox .forWho__box p {
  font-size: 14px;
}

.lightbox .forWho__icon-box {
  padding-bottom: 28px;
  max-height: 88px;
  padding-top: 10px;
}

@media (max-width: 1320px) {
  .lightbox .forWho__icon-box {
    padding-top: 0;
  }
}

.lightbox .forWho__title {
  padding-bottom: 26px;
}

@media (max-width: 995px) {
  .lightbox .forWho__title {
    padding-bottom: 22px;
  }
}

.lightbox .specialization__header-top {
  padding: 60px 0;
}

@media (max-width: 1320px) {
  .lightbox .specialization__header-top {
    padding: 35px 0;
  }
}

.lightbox .specialization__header-top h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 995px) {
  .lightbox .specialization__header-top h2 {
    font-size: 25px;
  }
}

.lightbox .specialization .specialize {
  display: flex;
}

@media (max-width: 995px) {
  .lightbox .specialization .specialize {
    flex-wrap: wrap;
  }
}

.lightbox .specialization .specialize__box-list {
  border: 3px solid red;
  flex-grow: 1;
  margin-top: 18px;
  margin-left: -29px;
  margin-bottom: 18px;
}

@media (max-width: 1320px) {
  .lightbox .specialization .specialize__box-list {
    margin-left: -17px;
  }
}

@media (max-width: 995px) {
  .lightbox .specialization .specialize__box-list {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.lightbox .specialization .specialize__header {
  background-color: #f08136;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 995px) {
  .lightbox .specialization .specialize__header {
    flex-basis: 100%;
    padding: 20px 0;
  }
}

.lightbox .specialization .specialize__header h3 {
  color: white;
  font-weight: 700;
  font-size: 23px;
}

.lightbox .specialization .specialize__lists {
  columns: 3;
  list-style-type: none;
  margin: 48px 0;
}

@media (max-width: 1320px) {
  .lightbox .specialization .specialize__lists {
    margin: 36px 0;
  }
}

.lightbox .specialization .specialize__lists li {
  padding: 14px;
  text-align: center;
  font-size: 17px;
}

.lightbox .specialization .specialize__lists li::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 11px;
  background-repeat: no-repeat;
  background-image: url(./img/approve.png);
}

.tranings {
  border-bottom: 2px solid #efefef;
}

.tranings__item-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #efefef;
  padding: 28px 0;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 15px;
  position: relative;
}

.tranings__item-row--active {
  display: none;
}

.tranings__item-row::before {
  content: '';
  width: 17px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(60deg, #f08136, #e6232f);
}

.tranings__icon {
  min-height: 78px;
}

@media (max-width: 1320px) {
  .tranings__icon {
    min-height: 55px;
    padding-left: 20px;
  }
}

@media (max-width: 1320px) {
  .tranings__title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.tranings__text {
  display: inline-block;
  font-size: 16px;
  color: #262626;
  margin-bottom: 0;
  transform: translateY(6px);
}

@media (max-width: 1320px) {
  .tranings__text {
    margin-bottom: 4px;
  }
}

.tranings__cert {
  border: 1px solid #e6232f;
  padding: 7px 17px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  margin-left: 5px;
  color: #e6232f;
}

@media (max-width: 1320px) {
  .tranings__cert {
    margin: 7px 0;
  }
}

.tranings__title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 9px;
}

@media (max-width: 1320px) {
  .tranings__title {
    margin-top: 0;
  }
}

.tranings__info {
  columns: 2;
  list-style-type: none;
  margin: 0;
}

.tranings__info li {
  padding: 5px;
  font-size: 16px;
}

.tranings__info li::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 11px;
  background-repeat: no-repeat;
  background-image: url("./img/approve.png");
}

.tranings__price {
  color: #7caf74;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 0;
}

.tranings__bottom button {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  background-image: linear-gradient(0deg, #f08136, #e6232f);
}

@media (max-width: 1320px) {
  .tranings__bottom button {
    padding: 15px 30px;
  }
}

.tranings__more {
  text-align: center;
  margin-top: 35px;
}

.tranings__more button {
  margin-bottom: 35px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: 20px 35px;
  border: none;
  background-image: linear-gradient(0deg, #f08136, #e6232f);
}

@media (max-width: 995px) {
  .tranings__more button {
    padding: 15px 25px;
    font-size: 15px;
  }
}

.trainer__header-top {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 1320px) {
  .trainer__header-top {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.trainer__header-top h2 {
  font-size: 28px;
  font-weight: 600;
}

.trainer__name h3 {
  font-size: 24px;
  font-weight: 700;
}

.trainer__content p {
  font-size: 18px;
}

.trainer__box {
  display: flex;
  margin-bottom: 30px;
}

.trainer__box--row {
  flex-direction: row-reverse;
}

.trainer__photo-top {
  display: inline-block;
  vertical-align: top;
}

.trainer__photo-top img {
  max-height: 450px;
  min-height: 450px;
}

@media (max-width: 1320px) {
  .trainer__photo-top img {
    max-height: 316px;
    min-height: 316px;
  }
}

.trainer__descr {
  border: 5px solid #e6232f;
  margin-left: -80px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 50%;
}

@media (max-width: 1320px) {
  .trainer__descr {
    margin-left: 0;
  }
}

.trainer__descr:last-child {
  margin-right: -80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1320px) {
  .trainer__descr:last-child {
    margin-right: 0px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
}

.trainer__main {
  padding-left: 130px;
  padding-top: 55px;
  padding-bottom: 40px;
}

@media (max-width: 1320px) {
  .trainer__main {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.trainer__main--bottom {
  padding-left: 50px;
}

@media (max-width: 1320px) {
  .trainer__main--bottom {
    padding-left: 25px;
  }
}

.trainer__specialization p {
  max-width: 85%;
}

.trainer__social-media {
  padding-bottom: 30px;
}

@media (max-width: 1320px) {
  .trainer__social-media {
    padding-bottom: 0;
    margin: 5px 0;
  }
}

.text-center {
  text-align: center;
}

.mission__box-top {
  display: flex;
}

.mission__square {
  margin: 25px;
  flex: 1;
}

.mission__icon {
  margin-bottom: 30px;
}

@media (max-width: 1320px) {
  .mission__icon {
    margin-bottom: 22px;
  }
}

.mission__text {
  margin-bottom: 35px;
}

@media (max-width: 1320px) {
  .mission__text {
    margin-bottom: 22px;
  }
}

.mission__text h3 {
  font-size: 18px;
  font-weight: 600;
}

.mission__desc {
  font-size: 14px;
}

.opinion {
  background-color: #f5f5f5;
}

.opinion__box {
  padding-bottom: 80px;
}

.opinion__content {
  background-color: white;
  display: inline-block;
  padding: 94px 94px 35px 94px;
}

.opinion__header {
  margin-bottom: 34px;
}

.opinion__header h4 {
  color: #e6232f;
  font-size: 21px;
  font-weight: 600;
}

.opinion__header-top {
  text-align: center;
  padding: 60px 0;
}

.opinion__header-top h2 {
  font-size: 28px;
  font-weight: 700;
}

.opinion__clients span {
  font-size: 14px;
  font-weight: 600;
}

.opinion__clients span:first-child {
  color: #e6232f;
}

.opinion__clients span:last-child {
  color: #f39964;
}

.opinion__rewiew {
  max-width: 400px;
  margin-bottom: 55px;
}

.opinion__rewiew p {
  font-style: italic;
}

.opinion__image {
  transform: translateY(43px);
  margin-top: -43px;
}

.partners__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
  position: relative;
}

.partners__logo a {
  padding: 20px 50px;
}

.partners .circle {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(60deg, #f08136, #e6232f);
  width: 43px;
  height: 43px;
}

.partners .circle p {
  position: absolute;
  top: 10px;
  left: 14px;
}

.partners .circle p i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.partners .circle p i.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.partners .circle p i.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.partners .circle--left {
  top: 25%;
  left: 0;
}

.partners .circle--right {
  top: 25%;
  right: 0;
}

.consultation {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

@media (max-width: 1320px) {
  .consultation {
    padding: 0;
  }
}

.consultation__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.consultation__box {
  display: flex;
  align-items: center;
  color: black;
  color: white;
  max-width: 840px;
  padding: 45px 30px;
  flex-basis: 60%;
  justify-content: space-between;
}

@media (max-width: 1320px) {
  .consultation__box {
    flex-basis: 100%;
    padding-top: 20px;
  }
}

.consultation__header {
  display: flex;
  align-items: center;
}

.consultation__header::before, .consultation__header::after {
  content: '';
  border: 2px solid white;
  flex-grow: 1;
  margin: 0 48px;
}

.consultation__header h3 {
  font-weight: 700;
  color: white;
  font-size: 28px;
  padding-bottom: 20px;
}

@media (max-width: 1320px) {
  .consultation__header h3 {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.consultation__contact a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid;
  border-radius: 1px;
  padding: 18px 44px;
  background-image: linear-gradient(90deg, #e6232f, #f08136, #e6232f);
}

.consultation__text p {
  font-size: 18px;
}

.consultation__price p {
  font-size: 24px;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 995px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.footer__box {
  flex: 1;
}

.footer__box:last-child {
  background-color: #f5f5f5;
}

.footer__content {
  display: flex;
  margin: 70px;
}

@media (max-width: 1320px) {
  .footer__content {
    margin: 100px 0;
  }
}

@media (max-width: 995px) {
  .footer__content {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.footer__list {
  columns: 2;
  list-style-type: none;
  margin-top: 48px;
}

@media (max-width: 1320px) {
  .footer__list {
    columns: 1;
    margin-top: 29px;
  }
}

@media (max-width: 995px) {
  .footer__list {
    columns: 2;
  }
}

.footer__list li {
  padding: 4px;
  font-size: 16px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 8px;
}

.footer__contact a {
  color: black;
  font-weight: 700;
  padding-top: 15px;
  text-decoration: none;
}

.footer__left {
  flex: 1;
}

@media (max-width: 1320px) {
  .footer__left {
    margin-left: 20px;
  }
}

@media (max-width: 1320px) {
  .footer__right {
    padding-right: 10px;
  }
}

.footer__copy {
  margin-top: 110px;
}

@media (max-width: 1320px) {
  .footer__copy {
    margin-top: 85px;
  }
}

.footer__ico::before {
  content: '';
  background-repeat: no-repeat;
  width: 25px;
  height: 14px;
  display: inline-block;
}

.footer__ico--mail::before {
  background-image: url("./img/ico-mail.png");
  transform: translateY(3px);
}

.footer__ico--phone::before {
  background-image: url("./img/ico-phone.png");
}

.footer__container {
  margin-left: 95px;
  max-width: 80%;
  margin-bottom: 35px;
}

.footer__button {
  display: flex;
  justify-content: flex-end;
}

.footer__btn {
  padding: 18px 35px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-image: linear-gradient(90deg, #e6232f, #f08136, #e6232f);
}

@media (max-width: 1320px) {
  .footer__logo {
    max-width: 225px;
  }
}

@media (max-width: 995px) {
  .footer__logo {
    max-width: 300px;
  }
}

@media (max-width: 1320px) {
  .footer__logo img {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;
  margin-top: 48px;
  margin-right: 130px;
}

@media (max-width: 1320px) {
  .form {
    margin-right: 15px;
  }
}

.form__title {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 28px;
}

@media (max-width: 1320px) {
  .form__title {
    margin-bottom: 31px;
  }
}

.form__content {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 5px 0 5px 10px;
}

@media (max-width: 995px) {
  .form__content {
    padding: 5px 5px 5px 10px;
  }
}

.form__label {
  flex-basis: 30%;
  text-align: right;
  padding: 10px 20px;
}

@media (max-width: 1320px) {
  .form__label {
    padding: 10px 10px;
  }
}

.form__input {
  flex-basis: 70%;
  font-size: 18px;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  border: none;
}

.form__input--text {
  height: 135px;
  overflow: auto;
}

.form__btn {
  flex-basis: 100%;
  text-align: right;
  margin-top: 25px;
}

.form__button {
  padding: 19px 35px;
  background-image: linear-gradient(90deg, #e6232f, #f08136, #e6232f);
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 16px;
  outline: none;
}

.hide {
  display: none;
  visibility: hidden;
}

.headbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 500;
}

.headbar__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #efefef;
  background-color: white;
}

.headbar__social-media {
  padding-left: 20px;
}

.headbar__contact {
  text-align: center;
  align-self: center;
  padding-right: 20px;
}

.headbar__logo {
  padding-left: 20px;
}

.headbar__link {
  font-size: 12px;
}

.headbar__link::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 14px;
  background-repeat: no-repeat;
  transform: translateY(4px);
}

.headbar__link--email {
  margin: 30px;
}

.headbar__link--email::before {
  background-image: url("./img/ico-mail.png");
}

.headbar__link--phone::before {
  background-image: url("./img/ico-phone.png");
}

.headbar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
}

.headbar__right {
  display: flex;
  padding-right: 20px;
}

.headbar .list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.headbar .list__menu {
  list-style-type: none;
  padding-right: 15px;
  flex: 1;
}

.headbar .list__text {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
}
